.work-main {
    .work-cols-main {
        column-count: 3; 
        column-gap: 50px; width: 100%; @include margin-top(80px); 
        @include desktop-sm{
            column-gap: 20px;
        }
        @include mobile-xl{
            column-count: 2; 
            column-gap: 20px;
        }
        @include mobile-l{
            column-count: 1; 
            column-gap: 10px;
        }
        .works-card { display: block; margin-bottom: 50px; position: relative; overflow: hidden; border-radius: 20px;
            @include mobile-xl{
                margin-bottom: 20px;
            }
            @include mobile-l{
                margin-bottom: 20px;
            }
            &:hover {
                &::before { opacity: 1; }
                img{
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                p { opacity: 1; }

                i { opacity: 1;                 @include card-text; }
            }

            &::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; background-color: rgba(0, 0, 0, 0.7); opacity: 0; 
                @extend %transition2; 
                z-index: 1;
             }

            img { width: 100%; height: 100%; 
                object-fit: cover; 
                -webkit-transform: scale(1.12);
                transform: scale(1.12);
                @extend %transition2; 
            }

            p { color: #fff; width: 100%; text-align: center; opacity: 0; font-size: 17px;
                @extend %transition2; z-index: 2; @include medium; line-height: 24px;
                
                @include desktop-sm{
                    font-size: 14px;
                }
            
            }

            i { position: absolute; left: 50%; bottom: 30px; transform: translate(-50%, -50%); color: #fff; 
                @extend %transition2; @include font-size(40px); opacity: 0; z-index: 2;

            }
        }
    }
}

.work-detail-section{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        width: 100%;
        height: 600px;
        background-color: #303030;
        @include mobile-l{
            height: 457px;
        }
    }
    .work-detail-main{
        margin-top: 170px;
        margin-bottom: 50px;
        @include mobile-l{
            margin-top: 120px;
        }
        h1,h2,h3,h4,h5,h6{
            @include medium;
            color: #fff;
            @include font-size(36px);
            margin-bottom: 20px;
            @include mobile-l{
                font-size: 20px;
            }
        }
        p{
            @include font-size(18px);
            color: #fff;
            @include regular;
            text-align: center;
            line-height: 24px;
            margin-bottom: 40px;
        }
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            margin-bottom: 30px;
        }
        .mahsul-detay-slider {  width: 100%;
            .swiper-wrapper {  width: 100%;
                .swiper-slide { height: 600px; border-radius: 20px; overflow: hidden; 
                    animation: card-in $anim-speed linear; animation-fill-mode: forwards; animation-delay: 500ms; opacity: 0; 

                    @for $i from 1 through 100 {
                        &:nth-child(#{$i}) { animation-delay: $i * 150ms; }
                    }
                    
                    @keyframes card-in { 
                        0% { opacity: 0; }
        
                        100% { opacity: 1;    }
                    }

                    @include mobile-l{
                        height: 319px;
                    }

                    img { width: 100%; height: 100%; 
                        object-fit: cover;
                    }
                }
            }
            .swiper-navs { position: absolute; bottom: 35px; left: 35px; z-index: 1; 

                .btn { width: 50px; height: 50px; border-radius: 25px; background-color: rgba(255, 255, 255, 0.80);  margin-right: 15px; 

                    i { font-size: 25px; color: #000; }
                }
            }
        }
    }
}

