@{
    ViewData["Title"] = "İş Güncelle";
}
@using OGWeb.Core.Commands.Works
@model UpdateWorkCommand

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="file-plus"></i></span>
                        İş güncelle
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" asp-action="Index">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Geri git
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <form id="fromloading" asp-controller="Works" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedDate" />
        <div class="row gx-4">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Başlık</div>
                    <div class="card-body">
                        <input class="form-control" type="text" asp-for="Title" />
                        <span class="text-danger"
                              asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Açıklama</div>
                    <div class="card-body">
                        <textarea class="form-control editor"
                                  asp-for="Description" rows="5"
                                  cols="5"></textarea>
                        <span class="text-danger"
                              asp-validation-for="Description"></span>
                    </div>
                </div>
                <hr class="mt-2 mb-4">
                <div class="card mb-4">
                    <div class="card-header">Seo anahtar</div>
                    <div class="card-body">
                        <textarea class="form-control"
                                  asp-for="Keyword_Seo" rows="4"
                                  cols="4"></textarea>
                        <span class="text-danger"
                              asp-validation-for="Keyword_Seo"></span>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Seo açıklama</div>
                    <div class="card-body">
                        <textarea class="form-control"
                                  asp-for="Description_Seo" rows="4"
                                  cols="4"></textarea>
                        <span class="text-danger"
                              asp-validation-for="Description_Seo"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-header-actions">
                    <div class="card-header">
                        Sabit alanlar
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0 mt-1">Görseller</h6>
                        <hr class="mt-2 mb-4">
                        @foreach (var item in ViewBag.ListImage)
                        {
                            <div class="m-2">
                                <img class="img-account-profile rounded-1 border border-dark"
                                 style="width: 100%;object-fit: contain;" src="/@item.ImageUrl">
                            </div>
                        }

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="Files">Yükle</label>
                            <input type="file" class="form-control" multiple asp-for="Files">
                        </div>
                        <h6 class="mb-0 mt-1">Gösterim</h6>
                        <hr class="mt-2 mb-4">
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="IsActived"
                                       id="IsActived-One" value="false">
                                <label class="form-check-label" for="IsActived-One">Hayır</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="IsActived"
                                       id="IsActived-Two" value="true">
                                <label class="form-check-label" for="IsActived-Two">Evet</label>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="fw-500 btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{

    <script>
        var allEditors = document.querySelectorAll('.editor');
        for (var i = 0; i < allEditors.length; ++i) {
            ClassicEditor
                .create(allEditors[i])
                .catch(error => {
                    console.error(error);
                });
        }
    </script>

}