@using OGWeb.Core.Dtos

@model List<VideoDto>
@{
    ViewData["Title"] = "Videolar";
}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="list"></i></span>
                        Video Listesi
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" asp-action="Create">
                        <i class="me-1" data-feather="plus"></i>
                        Yeni video ekle
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" asp-action="Edit"
                               asp-route-id="@item.Id"><i data-feather="edit"></i></a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" asp-action="Delete"
                               asp-route-id="@item.Id"
                               onclick="return confirm('Are you sure you want to delete it?')">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
