@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="container-xl px-4 mt-5">
    <!-- Custom page header alternative example-->
    <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
        <div class="me-4 mb-3 mb-sm-0">
            <h1 class="mb-0">Ana Sayfa</h1>
            <div class="small">
                <span class="fw-500 text-primary">@DateTime.Now.ToString("dddd")</span>
                & @DateTime.Now.ToString("MMMM dd, yyyy") & @DateTime.Now.ToShortTimeString()
            </div>
        </div>
        <!-- Date range picker example-->
        <div class="input-group input-group-joined border-0 shadow" style="width: 16.5rem">
            <span class="input-group-text"><i data-feather="calendar"></i></span>
            <input class="form-control ps-0 pointer" id="litepickerRangePlugin" placeholder="Select date range..." />
        </div>
    </div>
    <!-- Illustration dashboard card example-->
    <div class="card card-waves mb-4 mt-5">
        <div class="card-body p-5">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h2 class="text-primary">Tekrar hoş geldiniz, kontrol paneliniz hazır!</h2>
                    <p class="text-gray-700">

                        Harika iş, bağlı kuruluş kontrol paneliniz kullanıma hazır! Bu gösterge tablosunu kullanarak
                        satışları görüntüleyebilir, bağlantılar oluşturabilir, kuponlar hazırlayabilir ve bağlı kuruluş
                        raporlarını indirebilirsiniz.
                    </p>
                    <a class="btn btn-primary p-3" href="#!">
                        Hadi Başla
                        <i class="ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
                <div class="col d-none d-lg-block mt-xxl-n4">
                    <img class="img-fluid px-xl-4 mt-xxl-n5" src="~/cms/assets/img/illustrations/statistics.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
