@{
    ViewData["Title"] = "Slayder Güncelle";
}
@using OGWeb.Core.Commands.Sliders
@model UpdateSliderCommand

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="file-plus"></i></span>
                        Slayder güncelle
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" asp-action="Index">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Geri git
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <form id="fromloading" asp-controller="Sliders" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="row gx-4">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Başlık</div>
                    <div class="card-body">
                        <input class="form-control" type="text" asp-for="Title" />
                        <span class="text-danger"
                              asp-validation-for="Title"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-header-actions">
                    <div class="card-header">
                        Sabit alanlar
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0 mt-1">Görsel</h6>
                        <hr class="mt-2 mb-4">
                        @if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
                        {
                            <div class="m-2">
                                <img class="img-account-profile rounded-1 border border-dark"
                                 style="width: 100%;object-fit: contain;" src="/@ViewBag.ImageUrl">
                            </div>
                        }

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="File">Yükle</label>
                            <input type="file" class="form-control" multiple asp-for="File">
                        </div>
                        <div class="d-grid">
                            <button class="fw-500 btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>